

.container-fluid,
.container{
    width: 100%;
    padding-inline: 1rem;
}
.container-fw{//Full width container with no padding and margin
    width: 100%;
}
.container{
    margin: 0 auto;
}
@media (min-width:$sm){
    .container{
        max-width: 540px;
    }
}

@media (min-width:$md){
    .container{
        max-width: 720px;
    }
}

@media (min-width:$lg){
    .container{
        max-width: 960px;
    }
}

@media (min-width:$x-lg){
    .container{
        max-width: 1140px;
    }
}

@media (min-width:$xx-lg){
    .container{
        max-width: 1320px;
    }
}

.home{
    //home container for temp landing page
    flex-grow: 1;
    display: grid;
    place-items: center;
    height: 100%;
}
.home-temp{
    background-color: aliceblue;
    padding: $spacer-4;
    border-radius: $border-radius;
    display: flex;
    gap: $spacer-2;
    flex-direction: column;
    background-image: linear-gradient(to right, #e8d1d1, #e9d3dd, #e3d7eb, #d6ddf5, #c6e4f8);
    img{
        max-height: 250px;
    }
}

@media(min-width: $md){
    .home-temp{
        flex-direction: row;
        padding-block: 5rem;
    }
    .home-temp-col{
        flex-grow: 1;
    }
    .home-temp-col.end{
        place-self: end;
    }
}