

//image card with glass border
.img-card{
    padding: 1rem;
    background-color: hsla(0, 0%, 96%, 0.509);
    backdrop-filter: blur(10px);
    border: 1px solid $primary;
}
//standard card with basic padding and a simple border

.std-card{ //use for making a card section
    padding: $spacer-3;
    border: 2px solid $primary;
    border-radius: $border-radius;
}



.card{ //card with an icon on top and a block of text
    border: 2px solid $tertiary-col;
    border-radius: $border-radius-2;
    padding: $spacer-3;
    position: relative;
    margin-block: $spacer-2;
}
.card-icon{
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    margin-inline: auto;
    padding: .5rem;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    background-color: $tertiary-col;
    border-radius: 100%;
    svg{
        height: 100%;
        path{
            fill: red;
        }
    }
}
.card-body{
    h3{
        color: $primary;
    }
    p{
        font-weight: 300;
    }
}
///staff cards
.staff-card{
    padding: $spacer-2;


}
.staff-card-header img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
}
.staff-card-name{
    font-size: $fs-125;
    font-family: $font-family-sans-serif;
}