//image card with a caption inside the image
.img-card{
    position: relative;
    height: 100%;
    img{
        border-radius: $border-radius;
        border: 2px solid $primary;
        object-fit: cover;
        height: 100%;
    }
}
.img-card-caption{
    border: 2px solid transparent;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    padding: $spacer-2;
    text-align: center;
    font-size: $fs-125;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(3px);
}
//standard card with basic padding and a simple border

.std-card{ //use for making a card section
    padding: $spacer-3;
    border: 2px solid $primary;
    border-radius: $border-radius;
}



.card{ //card with an icon on top and a block of text
    border: 2px solid $tertiary-col;
    border-radius: $border-radius-2;
    padding: $spacer-3;
    position: relative;
    margin-block: $spacer-2;
}
.card-icon{
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    margin-inline: auto;
    padding: .5rem;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    background-color: $tertiary-col;
    border-radius: 100%;
    svg{
        height: 100%;
        path{
            fill: red;
        }
    }
}
.card-body{
    h2{
        color: $primary;
        font-size: $fs-125;
    }
    p{
        font-weight: 300;
    }
}
///staff cards- small version for home page
.staff-card{
    padding: $spacer-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    .staff-card-header img{
        height: 200px;
        width: 200px;
        object-fit: cover;
        object-position: top;
        border-radius: 100%;
    }
    .staff-card-name{
        font-size: $fs-125;
        font-family: $font-family-sans-serif;
    }
}
//larger card for staff pages
.staff-card-lg{
    padding: $spacer-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    .staff-card-header{
        width: 100%;

    }
    .staff-card-header img{
        height: 250px;
        width: 100%;
        object-fit: cover;
        object-position: top;
        border-top-left-radius: $border-radius-2;
        border-top-right-radius: $border-radius-2;
    }
    .staff-card-name{
        font-size: $fs-125;
        font-family: $font-family-sans-serif;
    }
    .staff-card-title{
        font-size: $fs-100;
        font-weight: 500;
    }
    .staff-card-body{
        background-color: $primary-900;
        padding: $spacer-3;
        border-bottom-left-radius: $border-radius-2;
        border-bottom-right-radius: $border-radius-2;
        flex-grow: 1;
    }
    //short intro card to the couples story
.staff-card-text{
    max-height: 25ch;
    overflow: hidden;
}
@supports(-webkit-line-clamp: 3){
    .staff-card-text{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        max-height: auto;
    }

}
}



//staff-card-modal
//displays the results of the staff body text in a modal
.staff-card-modal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.537);
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1000;

    .staff-card-name{
        font-size: $fs-125;
        font-family: $font-family-sans-serif;
    }
    .staff-card-body{
        background-color: $primary-900;
        padding: $spacer-3;
        border-radius: $border-radius-2;
    }
}
.staff-card-modal-close{
   display: grid;
   place-items: end;
}
.staff-card-modal-body{
    padding: $spacer-4;
    height: 100%;
    display: grid;
    place-items: center;
 overflow: scroll;

}

@media(min-width:$md){

    .staff-card-modal-body{
        width: 80%;
        margin-inline: auto;
        overflow: hidden;
    }
}

//featurecard with a hanging icon
.feature-card{
    display: flex;
}
.feature-card-icon{
    margin-right: 1rem;
    svg{
        height: 25px;
        width: 25px;
        path{
            fill: $tertiary-col;
        }
    }
}