.std-table{//standard table settings
    width: 100%;
    margin-bottom: $spacer-3;
    border-collapse: collapse;
    th{
        text-align: left;
        font-weight: 800;
        padding: $spacer-2;
        background-color: $primary;
        color: $secondary;
        &:first-of-type{
            border-top-left-radius: $border-radius-2;
            
        }
        &:last-of-type{
            border-top-right-radius: $border-radius-2;
        }
        
    }
    td{
        padding: $spacer-2;
        
    }
    tr{
        border-bottom: 1px solid $primary;
    }
    tr:nth-child(even){
        background-color: $primary-900;
    }
}


.term-dates{
    width: 100%;
    border-collapse: collapse;
    tr:first-of-type{
        border-bottom: 0;
    }
    td:nth-child(even){
        background-color: $primary-900;
    }
    th{
        border-radius: 0px;
    }
    tr{
        border-bottom: 1px solid $primary;
    }
    td, th{
        padding: $spacer-2;
    }
   .vert-heading{
        text-align: initial;
        writing-mode: sideways-lr;
        width: 1rem;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: $primary;
        color: $secondary;
        
    }
    tr:first-of-type .vert-heading{
        border-top-left-radius: $border-radius-2;
        
    }
    .subheading{
        background-color: $primary-900;
    }
    .last{
        //last row in the group
        border-bottom: 2px solid $primary ;
    }
}
