.std-table{//standard table settings
    width: 100%;
    margin-bottom: $spacer-3;
    border-collapse: collapse;
    th{
        text-align: left;
        font-weight: 800;
        padding: $spacer-2;
        background-color: $primary;
        color: $secondary;
        &:first-of-type{
            border-top-left-radius: $border-radius-2;
            
        }
        &:last-of-type{
            border-top-right-radius: $border-radius-2;
        }
        
    }
    td{
        padding: $spacer-2;
        border-bottom: 1px solid $primary;
    }
    tr:nth-child(even){
        background-color: $primary-900;
    }
}

.guest-list-actions{
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: $spacer-1;
    font-size: 1.25rem;
}

.guest_group .guest-list-actions{
    margin: 0;
}