@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100;200;300;400;500;600;700;800&family=Jua&display=swap');
$font-family-sans-serif: 'Jua', sans-serif;
$ff-secondary: 'Glory', sans-serif;
body{
    font-family: $ff-secondary;
}

.font-emphasis{
    font-weight: 300;
    font-size: 1.25rem;
    color: $grey-600;
}

.text-alert{
    color: $error-response ;
}
$fs-100: 1rem;
$fs-125: 1.25rem;
$fs-150: 1.5rem;
$fs-200: 2rem;
$fs-250: 2.5rem;
$fs-300: 3rem;

.cta-heading{
    //bigger font for an alert or a large block of text
    font-size: $fs-200;
    color: $primary;
    font-weight: 300;
}

h1{
    font-size:$fs-250 ;
}
h2{
    font-size: $fs-200;
}
h1, h2, h3, h4{
    font-family: $font-family-sans-serif;
    color: $primary;
}

.section-title{
    font-size: $fs-250;
    color: $primary;
}

.section-subtitle{
    font-size: $fs-150;
    font-weight: 200;
}