.hero {
    padding-block: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $secondary;
    background-color: hsl(0, 7.2%, 81%);
    background-blend-mode: multiply;
    display: grid;
    position: relative;
    place-items: center;
    z-index: 1;

}
.hero-container {
    padding-inline: $spacer-3;
    z-index: 3;
}

.hero-title {
    font-size: $fs-250;
    font-weight: 400;
    color: $secondary;
    text-shadow: 2px 2px hsla(0, 0%, 0%, 0.25);
}

.hero-subtitle {
    font-size: $fs-125;
    font-family: $font-family-sans-serif;
}


.hero {
    background-image: url("../../assets/img/hero/index-hero-sm.webp");

}

@media(min-width:$md) {
    .hero {
        background-image: url("../../assets/img/hero/index-hero-med.webp");

    }
}

@media(min-width:$lg) {
    .hero {
        background-image: url("../../assets/img/hero/index-hero-lg.webp");

    }
}

//set up bg images depending on screen size
.hero-title {
    place-self: left;
}

@media(min-width: $md) {

    .hero-container {
        width: 65%;
    }
}